- @title = "Info"
%article
  %header
    %h2 Information
    .clear
  %section
    %p
      = image_tag "portrait.png", :alt => "Evan Machnic Portrait", :title => "Evan Machnic", :class => "img_flt_rt"
      I love web development. I have been working with HTML since 2003 when I was a Computer Science major but
      I didn't really focus on it until fall 2007. After about a year of making basic web sites, I took an
      advanced web applications course which used
      %b
        = link_to "Ruby on Rails", "http://rubyonrails.org"
      for the development. This was an incredibly foreign language to me but for some reason I was hooked even
      though I didn't pick it back up after that until summer 2009. Since then, most of my web development
      has been using
      %b
        = link_to "Ruby on Rails", "http://rubyonrails.org"
      with a little
      %b
        = link_to "PHP", "http://php.net"
      mixed in.
    %p
      My last semester at
      %b
        = link_to "Florida State University", "http://fsu.edu"
      I interned at the State of Florida Department of Management Services. I had to bring a project from conception
      to completion and the internship taught me a lot about coding practices. I graduated in August 2009 with a
      Bachelor of Science in Information Technology and took a job at AdRelevancy, which was an internet marketing
      company and went out of business in February 2010.
    %p
      Since that time, I have been freelancing and working for
      %b
        = link_to "AIT Environmental Technology", "http://aitenvirotech.com"
      as the webmaster and systems administrator as well as serving at
      %b
        = link_to "Andrew's Capital Grill.", "http://andrewsdowntown.com"
      In whatever spare time I have, I spend time with my wife and two-year-old son. I also try and find time to
      learn whatever I can about any topics that interest me including: web development and design, Agile practices,
      emerging technology, and even some business-oriented topics.
    %p
      That's about all I have about me. Check out the other sections of my site and interact with me online.
