- @title = "Interact"
%article
  %header
    %h2 Interact With Me Online
    .clear
  %section
    = image_tag "jigsaw_laptop.jpg", :alt => "Laptop on Jigsaw", :class => "img_flt_rt"
    %p
      As a web developer, I am always on my computer or phone. I am a member of many different social
      networking sites, though I tend to use 
      %b
        = link_to "Twitter", "http://twitter.com/emachnic"
      more than anything because of its simplicity.
      If you want to check out my online personality, feel free to visit any of my profiles below.
    %p
      If you need to reach me or want to ask me something, the easiest way is email because I can check
      that anywhere. You can schedule a meeting with me through 
      %b
        = link_to "Tungle", "http://tungle.me/emachnic"
      and I'm also on 
      %b
        = link_to "Google Talk", "http://www.google.com/profiles/emachnic"
      which is another great way to speak with me right away. Thank you for checking out my sites and stopping my Broadmac.net
    %p
      = link_to image_tag("facebook_32.png", :alt => "Facebook Icon", :title => "facebook.com/emachnic"), "http://www.facebook.com/emachnic"
      = link_to image_tag("forrst_32.png", :alt => "Forrst Icon", :title => "forr.st/-emachnic"), "http://forr.st/-emachnic"
      = link_to image_tag("googletalk_32.png", :alt => "Google Talk Icon", :title => "Google Talk"), "http://www.google.com/profiles/emachnic"
      = link_to image_tag("linkedin_32.png", :alt => "LinkedIn Icon", :title => "linkedin.com/in/evanmachnic"), "http://www.linkedin.com/in/evanmachnic"
      = link_to image_tag("skype_32.png", :alt => "Skype Icon", :title => "emachnic"), "http://skype.com"
      = link_to image_tag("tumblr_32.png", :alt => "Tumblr Icon", :title => "emachnic.tumblr.com"), "http://emachnic.tumblr.com"
      = link_to image_tag("twitter_32.png", :alt => "Twitter Icon", :title => "twitter.com/emachnic"), "http://twitter.com/emachnic"
      = link_to image_tag("youtube_32.png", :alt => "YouTube Icon", :title => "youtube.com/emachnic"), "http://youtube.com/emachnic"
    %p
      = image_tag "https://www.tungle.me/public/emachnic/busyicon", :class => "tungle-me", :teml => "emachnic"
      %object{ :type => "application/x-shockwave-flash", :data => "https://clients4.google.com/voice/embed/webCallButton",
        :width => "230", :height => "85" }
        %param{ :name => "movie", :value => "https://clients4.google.com/voice/embed/webCallButton" }
        %param{ :name => "wmode", :value => "transparent" }
        %param{ :name => "FlashVars", :value => "id=c21474293bfa9a582a54e84190b22b2ad222ad56&style=0" }
