- @title = "Resume"
%article.resume
  %h1 Evan Machnic
  %hr
  %p
    850.307.0313
    &#47;&#47;
    = mail_to "emachnic@broadmac.net"
    &#47;&#47;
    = link_to "Github Resume", "http://resume.github.com/emachnic"
  %h2 Passionate Web Developer
  %hr
  %p
    Successful background in implementing and maintaining high-quality web applications and sites. 
    Strong knowledge in web-based program de-bugging. Excellent reputation for clearly defining system 
    requirements, skillfully designing applications, and managing technical systems.
  %h2 Career Excellence
  %hr
  %p
    AIT Environmental Technology, 2009-Present
  %h3 Webmaster and Systems Administrator
  %p
    Designed, built and maintained main web site at
    = link_to "http://www.aitenvirotech.com.", "http://www.aitenvirotech.com"
    Set up and configured account with hosting company
    = link_to "RailsPlayground", "http://www.railsplayground.com"
    using cPanel to manage domains and email. Arranged existing content and created new 
    content for web site. Redesigned site using
    = link_to "Padrino Framework", "http://padrinorb.com"
    &#44;
    = link_to "HTML5", "http://en.wikipedia.org/wiki/HTML5"
    &#44; and
    = link_to "CSS3.", "http://en.wikipedia.org/wiki/CSS3#CSS_3"
  %ul
    %li 
      Created and maintained web site, email, and networking for company using
      = link_to "Ruby", "http://ruby-lang.org"
      and
      = link_to "Padrino Framework", "http://padrinorb.com"
    %li
      Used Adobe Photoshop to create layout and slice into images and implemented them with
      = link_to "HTML5", "http://en.wikipedia.org/wiki/HTML5"
      and
      = link_to "CSS3", "http://en.wikipedia.org/wiki/CSS3#CSS_3"
    %li
      = link_to "Redesigned Site", "http://www.aitenvirotech.com"
  %p.job
    AdRelevancy, 2009-2010
  %h3 Web Developer and Conversion Specialist
  %p
    Rapidly developed web pages using
    = link_to "HTML", "http://en.wikipedia.org/wiki/HTML"
    &#44;
    = link_to "CSS", "http://en.wikipedia.org/wiki/CSS"
    and
    = link_to "PHP/MySQL.", "http://en.wikipedia.org/wiki/PHP"
    Used conversion metrics to split test different components of web pages to increase
    conversions. Developed and implemented a detailed testing plan to ensure that
    conversion rates would increase a certain amount every week.
  %ul
    %li Developed multiple web pages on a daily basis and split tested page elements to increase conversion rates.
    %li
      Used
      = link_to "PHP", "http://en.wikipedia.org/wiki/PHP"
      or
      = link_to "Classic ASP", "http://en.wikipedia.org/wiki/Active_Server_Pages"
      to build and maintain internal and external web sites.
  %p.job
    State of Florida Department of Management Services, 2009
    %br
    %b Web Developer Intern
    %br
    Worked in
    = link_to "Project SPARTA", "http://projectsparta.org"
    as an intern in charge of taking a project from conception to implementation. Created a detailed project plan
    that had to be  approved by management for an internal application. Developed a web-based application using
    = link_to "Ruby on Rails", "http://rubyonrails.org"
    to track which state employees were being used on certain projects/tasks.
  %ul
    %li Created a detailed project plan, developed an application based on the specifications of the project plan and deployed the application.
    %li
      Used
      = link_to "Ruby on Rails", "http://rubyonrails.org"
      to build the project according to specs detailed in the project plan.
    %li
      Maintained source code for the project using
      = link_to "Git", "http://git-scm.com"
      and tracked issues using
      = link_to "Redmine", "http://redmine.org"
  %h2 Technical Skills
  %hr
  %table{ :cellpadding => 0, :cellspacing => 0 }
    %tr
      %td{ :style => "width: 10em;" } Operating Systems:
      %td MS Windows XP, Vista, and 7; MS Windows Server 2008; Ubuntu Linux Desktop and Server
    %tr
      %td Networking:
      %td Local Area Network (LAN); Home Wireless Network; File, Print, and Web Servers including Apache and IIS7
    %tr
      %td Software:
      %td MS Office; Adobe Photoshop; Adobe Dreamweaver; Eclipse; Aptana; Vim; VirtualBox; VMWare; Command Line (UNIX and DOS)
    %tr
      %td Languages:
      %td HTML 4 and 5; CSS 2 and 3; Ruby on Rails 2 and 3; PHP; MySQL; ASP.NET with C#; Classic ASP with Visual Basic; Javascript; JQuery; JQuery Mobile; Prototype and Scriptaculous; Basic Shell Scripting
  %h2 Education
  %hr
  %p
    %b Bachelor of Science, Information Technology
    %br
    Florida State University, Tallahassee, FL, 2009
