!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :charset => "utf-8" }
    %title
      = ["Evan Machnic", @title].compact.join(" => ")
    = stylesheet_link_tag "reset", "application"
    = javascript_include_tag 'jquery', 'application', 'html5'
    = javascript_include_tag "https://www.tungle.me/portal/js/plugins/tungle.mwmWidget.js"
  %body
    %header
      = link_to image_tag("evan_machnic_logo-nq8.png", :alt => "Evan Machnic Logo", :title => "Evan Machnic Home"), "/"
      %nav
        %ul
          %li
            = link_to "writing", url_for(:posts, :index), :class => is_active?("Writing")
          %li &#47;&#47;
          %li
            = link_to "info", url_for(:info), :class => is_active?("Info")
          %li &#47;&#47;
          %li
            = link_to "resume", url_for(:resume), :class => is_active?("Resume")
          %li &#47;&#47;
          %li
            = link_to "work", url_for(:work, :index), :class => is_active?("Work")
          %li &#47;&#47;
          %li
            = link_to "interact", url_for(:interact), :class => is_active?("Interact")
      .clear
    #main
      #content
        = yield
      #sidebar
        %h3 Favorite Sites
        %ul
          %li
            = link_to "A List Apart", "http://www.alistapart.com"
          %li
            = link_to "Railscasts", "http://railscasts.com"
          %li
            = link_to "Ruby on Rails", "http://rubyonrails.org"
          %li
            = link_to "Signal vs. Noise", "http://37signals.com/svn"
          %li
            = link_to "TeachMeToCode", "http://teachmetocode.com"
        %h3 Books I Like
        %p.book
          = link_to image_tag("tpp.jpg", :alt => "Pragmatic Programmer Cover", :title => "The Pragmatic Programmer"), "http://pragprog.com/titles/tpp/the-pragmatic-programmer"
          = link_to "The Pragmatic Programmer: From Journeyman to Master", "http://pragprog.com/titles/tpp/the-pragmatic-programmer"
          %br
          %span by Andrew Hunt and David Thomas
        %p.book
          = link_to image_tag("rails_tutorial.png", :alt => "Rails Tutorial Logo", :title => "Rails Tutorial"), "http://railstutorial.org"
          = link_to "Rails Tutorial", "http://railstutorial.org"
          %br
          %span by Michael Hartl
        %p.book
          = link_to image_tag("rework.jpg", :alt => "Rework Cover", :title => "Rework"), "http://37signals.com/rework"
          = link_to "Rework", "http://37signals.com/rework"
          %br
          %span Jason Fried and David Henemeier Hansson
        /
          %object{ :type => "application/x-shockwave-flash", :data => "https://clients4.google.com/voice/embed/webCallButton",
          :width => "230", :height => "85" }
          %param{ :name => "movie", :value => "https://clients4.google.com/voice/embed/webCallButton" }
          %param{ :name => "wmode", :value => "transparent" }
          %param{ :name => "FlashVars", :value => "id=c21474293bfa9a582a54e84190b22b2ad222ad56&style=0" }
    %footer
      %p.validations
        Valid
        = link_to "HTML5", "http://validator.w3.org/check?uri=http%3A%2F%2Fbroadmac.net%2F"
        and
        = link_to "CSS3", "http://jigsaw.w3.org/css-validator/validator?uri=broadmac.net&profile=css3&usermedium=all&warning=1"
      %p
        Copywrite &copy; 2010
        &#47;&#47;
        = mail_to "emachnic@broadmac.net", "Evan Machnic", :subject => "Feedback"
        &#47;&#47;
        Running
        = link_to "Padrino v. 0.9.15", "http://www.padrinorb.com"
        on
        = link_to "Sinatra v. 1.0", "http://www.sinatrarb.com"
        at
        = link_to "Heroku", "http://www.heroku.com"
